body {
    background: url("zelda.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
  width: 100%;
}

@media screen and (max-width: 600px) {
    html {
      font-size: 48%;
    }
  }

  @media screen and (min-width: 600px) {
    html {
      font-size: 53%;
    }
  }

  @media screen and (min-width: 800px) {
    html {
      font-size: 57%;
    }
  }

  @media screen and (min-width: 1200px) {
    html {
      font-size: 60%;
    }
  }



.post {
  width: -100px;
  height: -100px;
  position: relative;
  cursor: pointer;
}

.post:hover .post-s {
  width: 570px;

}

.post img {
  display: block;
  width: 170px;
  height: 140px;

}
.post-s {
  width: 0px;
  height: 140px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.7s ease;

}

.post1 {
  width: -100px;
  height: -100px;
  position: relative;
  cursor: pointer;
}

.post1:hover .post-s1 {
  width: 608px;

}

.post1 img {
  display: block;
  width: 210px;
  height: 140px;

}
.post-s1 {
  width: 0px;
  height: 140px;
  position: absolute;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.7s ease;

}

.post2 {
  width: -100px;
  height: -100px;
  position: relative;
  cursor: pointer;
}

.post2:hover .post-s2 {
  width: 1600px;

}

.post2 img {
  display: block;
  width: 1200px;
  height: 740px;

}
.post-s2 {
  width: 0px;
  height: 740px;
  position: absolute;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.7s ease;

}

.post3 {
  width: -100px;
  height: -100px;
  position: relative;
  cursor: pointer;
}

.post3:hover .post-s3 {
  width: 590px;

}

.post3 img {
  display: block;
  width: 190px;
  height: 140px;

}
.post-s3 {
  width: 0px;
  height: 140px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.7s ease;

}

.post4 {
  width: -100px;
  height: -100px;
  position: relative;
  cursor: pointer;
}

.post4:hover .post-s4 {
  width: 660px;

}

.post4 img {
  display: block;
  width: 260px;
  height: 170px;

}
.post-s4 {
  width: 0px;
  height: 170px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.7s ease;

}

.post5 {
  width: -100px;
  height: -100px;
  position: relative;
  cursor: pointer;
}

.post5:hover .post-s5 {
  width: 660px;

}

.post5 img {
  display: block;
  width: 260px;
  height: 170px;

}
.post-s5 {
  width: 0px;
  height: 170px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.7s ease;

}

.post6 {
  width: -100px;
  height: -100px;
  position: relative;
  cursor: pointer;
}

.post6:hover .post-s6 {
  width: 870px;

}

.post6 img {
  display: block;
  width: 470px;
  height: 370px;

}
.post-s6 {
  width: 0px;
  height: 370px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.7s ease;

}

.post7 {
  width: -100px;
  height: -100px;
  position: relative;
  cursor: pointer;
}

.post7:hover .post-s7 {
  width: 246px;

}

.post7 img {
  display: block;
  width: 246px;
  height: 84px;

}
.post-s7 {
  width: 0px;
  height: 84px;
  position: absolute;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.7s ease;

}



header nav#mobile {
  color: #47474793;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1840px) {
  header nav#mobile {display:block;}
}

header nav #menue {
  background: #4646468f;
  padding: 2.17rem 5% 2.17rem 5%;
  float: left;
  width: 90%;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  cursor: initial;
  font-weight: 300;
  transition: all 500ms;
  font-family: 'Robot', sans-serif;
  cursor: pointer;
}

header nav #menue:hover {
  color: #2929298f;
  transform: scale(1.2);
  cursor: pointer;
}

header nav#mobile ul {
  width: 100%;
  margin: 0;
  padding: 0;
  max-height: 0;
  transition: all 500ms;
  overflow: hidden;
  cursor: pointer;
  float: left;
}

header nav#mobile:hover > ul {
  max-height: 800px;
  cursor: pointer;
}

header nav#mobile ul li {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  cursor: pointer;
  list-style: none;
  position: relative;
  transition: all 500ms;
}

header nav#mobile ul li a {
  display: inline-block;
  padding: 2.17rem 5% 2.17rem 5%;
  min-width: 12rem;
  width: 90%;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background: #47474793;
  font-weight: 300;
  transition: all 500ms;
  font-family: 'Robot', sans-serif;
}

header nav#mobile ul li:hover > a {
  background: #2929298f;
  transform: scale(1.2);
  cursor: pointer;
}

header nav#mobile ul li ul {
  width: 100%;
  transition: all 500ms;
  max-height: 0;
  cursor: pointer;
  overflow: hidden;
  float: left;
}

header nav#mobile ul li ul li {
  display: block;
  float: left;
  background: #4646468f;
  cursor: pointer;
  transition: all 500ms;
}

header nav#mobile ul li ul li a {
  background: #4646468f;
  cursor: pointer;
}

header nav#mobile ul li:hover > ul {
  max-height: 500px;
  cursor: pointer;
}









header {
  top: 0;
  width: 100%;
  text-align: center;
  transition: all ease-in-out 200ms;
  height: 7rem;
}


@media screen and (max-width: 1840px) {
  header nav#normal {display: none;}
}






header nav#normal ul li ul li {
  border-bottom: 1px solid #1111112d;
  cursor: pointer;
}

header nav#normal ul li:hover > ul {
  max-height: 700px;
  cursor: pointer;
}

header nav#normal ul ul ul {
  margin-left: 200px;
  top: 0px;
  position: absolute;
  cursor: pointer;
}

header nav#normal ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  cursor: pointer;
}

header nav#normal ul li {
  float: left;
  width: 200px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.356);
  line-height: 40px;
  text-align: center;
  transition: all ease-in-out 200ms;
  font-size: 20px;
  margin-right: 1px;
  position: relative;
  cursor: pointer;
}

header nav#normal ul li a {
  text-decoration: none;
  color: white;
  transition: all ease-in-out 200ms;
  display: block;
  cursor: pointer;
}

header nav#normal ul li a:hover {
  background-color: rgb(52, 133, 255);
  transition: ease-in-out all 250ms;
  cursor: pointer;
}

header nav#normal ul li ul li {
  display: none;
}

header nav#normal ul ul {
  display: none;
}

header nav#normal ul li:hover ul li {
  display: block;
}


header nav#normal ul li:hover > ul {
  display: block;
}

header nav#normal ul ul ul {
  margin-left: 200px;
  top: 0px;
  position: absolute;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.text {
  margin-top: 25%;
  font-size: 20px;
  color: #2e2d2d;
}

.icon {
  position: absolute;
  right: 45%;
  bottom: 10%;
  transition: all 150ms linear;
}

.icon:hover {
  transform: scale(1.1);
  transition: all ease-in-out 300ms;
}

.git {
  position: absolute;
  left: 45%;
  bottom: 90px;
  transition: all 150ms linear;
}

.git:hover {
  transform: scale(1.1);
  transition: all ease-in-out 300ms;
}


.tooltip {
  position: absolute;
  left: 10px;
  float: left;
  font-size: 16px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  left: 100px;
  top: 150%;
  
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 10px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  font-size: 25px;
  z-index: 1;
  color: white;
  text-align: center;
  line-height: 90vh;
}

.splash.display-none{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  z-index: -10;
  color: white;
  text-align: center;
  line-height: 90vh;
  transition: all 2s;
}

@keyframes fade-in {
  to{
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fade-in 1s ease-in forwards;
}




.splashh {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  font-size: 25px;
  z-index: 1;
  color: white;
  text-align: center;
  line-height: 90vh;
}

.splashh.display-none{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  z-index: -1100;
  color: white;
  text-align: center;
  line-height: 90vh;
  transition: all 60s;
}

@keyframes fadee-in {
  to{
    opacity: 1;
  }
}

.fadee-in {
  opacity: 0;
  animation: fade-in 60s ease-in forwards;
}
